<style>
.github-repos-grid {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 4em;
    padding-bottom: 2em;
    gap: 4em;
    width: 100%;
  }
  
  .github-repo-tile {
    display: flex;
    flex-direction: column; /* 新增 - 使得子元素垂直排列 */
    justify-content: space-between; /* 新增 - 在`description`和`github-buttons`之间增加空间 */
    flex: 0 1 calc(30% - 60px); /* 修改宽度计算，减去左右 margin */
    text-align: center;
    margin: 15px;
    box-sizing: border-box; 
  }
  .github-buttons {
    display: flex;
    flex-direction: row; /* 按钮水平排列 */
    justify-content: center; /* 按钮居中 */
    gap: 10px; /* 按钮之间的间隙 */
  }
  .github-repo-tile h2 {
    margin-bottom: 30px; /* 减少标题下方的外边距 */
  }
  .github-buttons a {
    margin-bottom: 1px; /* 减少按钮之间的外边距 */
  }
  .github-repo-tile p {
    margin-bottom: 10px; /* 减少描述下方的外边距 */
  }
</style>


<div class="github-repos-grid">
  {{ range . }} <!-- 循环yaml文件中的repositories -->
    <div class="github-repo-tile">
      <div>{{ .icon | safeHTML }}</div>
      <h2>{{ .name }}</h2> <!-- 显示name，比如 "DevOps-Series" -->
      <p>{{ .description }}</p> <!-- 显示描述-->
      {{ range .repos }} <!-- 循环每个series下的repos -->
        <div class="github-repo-tile">
          <!-- <a href="https://github.com/{{ .repo }}" target="_blank"> -->
            <!-- <h3>{{ .repo }}</h3> 显示repo名称（比如 "codefuse-ai/codefuse-chatbot"） -->
            <!-- <p>{{ .description }}</p> 显示描述 -->
          <!-- </a> -->
          <div class="github-buttons">
            <!-- GitHub按钮 -->
            <span>{{ .repo }}</span> <!-- 在按钮旁边显示仓库名称 -->
            <a href="https://github.com/codefuse-ai/{{ .repo }}" class="github-button" data-icon="octicon-star" data-show-count="true" aria-label="Star {{ .repo }} on GitHub">Star</a>
            <a href="https://github.com/codefuse-ai/{{ .repo }}/fork" class="github-button" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork {{ .repo }} on GitHub">Fork</a>
          </div>
        </div>
      {{ end }}
    </div>
  {{ end }}
</div>
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- <div class="github-repos-grid">
{{ range . }}
  <div class="github-repo-tile">
    <a href="https://github.com/{{.repo}}" target="_blank">
      <div>{{ .icon | safeHTML }}</div>
      <h3>{{ .name }}</h3>
      <p>{{ .description }}</p>
    </a>

    <div class="github-buttons">
      <a href="https://github.com/{{.repo}}" class="github-button"  data-icon="octicon-star" data-show-count="true" aria-label="Star {{.repo}} on GitHub">Star</a>
      <a href="https://github.com/{{.repo}}/fork" class="github-button"  data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork {{.repo}} on GitHub">Fork</a>
    </div>
  </div>
{{ end }}
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</div> -->