<style>
  .github-repos-grid {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .github-repo-tile {
    display: flex;
    flex-direction: column; /* 新增 - 使得子元素垂直排列 */
    justify-content: space-between; /* 新增 - 在`description`和`github-buttons`之间增加空间 */
    flex: 0 1 calc(30% - 60px); /* 修改宽度计算，减去左右 margin */
    text-align: center;
    margin: 30px;
    box-sizing: border-box; 
  }
</style>

<div class="github-repos-grid">
{{ range . }}
  <div class="github-repo-tile">
    <a href="https://github.com/{{.repo}}" target="_blank">
      <div>{{ .icon | safeHTML }}</div>
      <h3>{{ .name }}</h3>
      <p>{{ .description }}</p>
    </a>

    <div class="github-buttons">
      <a href="https://github.com/{{.repo}}" class="github-button"  data-icon="octicon-star" data-show-count="true" aria-label="Star {{.repo}} on GitHub">Star</a>
      <a href="https://github.com/{{.repo}}/fork" class="github-button"  data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork {{.repo}} on GitHub">Fork</a>
    </div>
  </div>
{{ end }}
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</div>